html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

body {
    margin: 0 auto;
    padding: 2rem;
}

h1 {
  text-decoration: underline;
}

#task {
  font-weight: bold;
}